body {
    font-family: sans-serif;
    background: #222736 !important;
    color:rgb(255, 255, 255)
}
#date-picker-range{
    position: absolute;
    background-color: #2A3042 ;
    left: 476px;
    top: 165px;
}
.DateInput_input{
    background-color: #2A3042;
    -webkit-text-fill-color: white;
}
.DayPicker{
    background-color: #2A3042;
}
.DateRangePickerInput{
    background-color:#2A3042;
    
    -webkit-text-fill-color: white;

}
.DateInput{
    background-color: #2A3042;
}

.CalendarMonthGrid{
    background-color: #2A3042;
}
.DayPicker_transitionContainer,.CalendarMonth,.CalendarDay {
    background-color: #2A3042;
}
#radio{
    position: absolute;
    left: 100px;
    top: 190px;
}
.dash-spinner {
    background: #222736;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%,0%);
  }
#dropdown {

    position: absolute;
    width: 292px;
    left: 574px;
    top: 52px;
    -webkit-text-fill-color: white;
    background-color: #353E53;

}

.Select-control , .Select-menu-outer {

    background-color: #353E53 !important;
    -webkit-text-fill-color: white;
  }
  


#chart_plot{
    position: absolute;
    width: 874px;
    height: 460px;
    left: 88px;
    top: 220px;

    background: #2A3042;

}

#liveprice{
    position: absolute;
    left: 88px;
    top:140px;
    
    font-size: 25px;
}
